In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
#Load the dataset for census data from 2014 
#Data from the UK census of 2014 
census = pd.read_csv('C:\\Thinkful_project\\Brexit_data\\census.csv') 

#Results of the UK referendum on leaving the European Union
result = pd.read_csv('C:\\Thinkful_project\\Brexit_data\\referendum.csv')

#Average disposable income for different parts of the UK
wealth = pd.read_csv('C:\\Thinkful_project\\Brexit_data\\income.csv')
    #This dataset will not coerce into numeric values since a comma seperate the numbers. Remove the comma from the string

wealth['Disposable inc'] = wealth['Disposable inc'].str.replace(',', '')
wealth['Disposable inc'] = wealth['Disposable inc'].astype(int)
del wealth['Unnamed: 2'] #removes a column that was not in the original .csv
wealth

#Data from the UK census of 2014-2016 for immigration: 
immigration = pd.read_csv('C:\\Thinkful_project\\Brexit_data\\immigration.csv') 
#immigration.dtypes
result

,ID,Region Code,Region,Area Code,Area,Electorate,Expected Ballots,Verified Ballot Papers,Percent Turnout,Votes Cast,...,Remain,Leave,Rejected Ballots,No Official Mark,Multiple Marks,Writing or Mark,Unmarked or Void,Percent Remain,Percent Leave,Percent Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,34176,53216,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,36708,47773,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,39348,54522,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,22151,57765,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,41497,44569,69,0,26,1,42,48.22,51.78,0.08
5,111,E12000006,East,E06000056,Central Bedfordshire,204004,158904,158896,77.89,158894,...,69670,89134,90,0,34,1,55,43.87,56.13,0.06
6,184,E12000006,East,E07000008,Cambridge,80108,57871,57860,72.22,57852,...,42682,15117,53,0,13,0,40,73.85,26.15,0.09
7,185,E12000006,East,E07000009,East Cambridgeshire,62435,48129,48120,77.08,48124,...,23599,24487,38,0,18,0,20,49.08,50.92,0.08
8,186,E12000006,East,E07000010,Fenland,71447,52653,52649,73.69,52649,...,15055,37571,23,0,10,1,12,28.61,71.39,0.04
9,187,E12000006,East,E07000011,Huntingdonshire,128486,99996,99990,77.82,99990,...,45729,54198,63,0,31,0,32,45.76,54.24,0.06
10,188,E12000006,East,E07000012,South Cambridgeshire,114830,93268,93263,81.21,93250,...,56128,37061,61,0,24,0,37,60.23,39.77,0.07
11,222,E12000006,East,E07000066,Basildon,132771,98087,98071,73.86,98062,...,30748,67251,63,3,26,2,32,31.38,68.62,0.06
12,223,E12000006,East,E07000067,Braintree,112562,86316,86309,76.67,86303,...,33523,52713,67,0,23,0,44,38.87,61.13,0.08
13,224,E12000006,East,E07000068,Brentwood,58777,46726,46724,79.50,46725,...,19077,27627,21,0,3,1,17,40.85,59.15,0.04
14,225,E12000006,East,E07000069,Castle Point,68860,51909,51909,75.38,51909,...,14154,37691,64,0,15,1,48,27.30,72.70,0.12
15,226,E12000006,East,E07000070,Chelmsford,129971,100867,100866,77.60,100852,...,47545,53249,58,0,23,2,33,47.17,52.83,0.06
16,227,E12000006,East,E07000071,Colchester,127520,95805,95802,75.11,95782,...,44414,51305,63,2,17,5,39,46.40,53.60,0.07
17,228,E12000006,East,E07000072,Epping Forest,100016,76905,76900,76.89,76900,...,28676,48176,48,0,21,2,25,37.31,62.69,0.06
18,229,E12000006,East,E07000073,Harlow,59124,43493,43489,73.56,43489,...,13867,29602,20,0,1,0,19,31.90,68.10,0.05
19,230,E12000006,East,E07000074,Maldon,49073,38851,38850,79.17,38850,...,14529,24302,19,1,9,1,8,37.42,62.58,0.05
20,231,E12000006,East,E07000075,Rochford,66589,52487,52479,78.81,52479,...,17510,34937,32,0,13,1,18,33.39,66.61,0.06
21,232,E12000006,East,E07000076,Tendring,111167,82724,82725,74.40,82703,...,25210,57447,46,0,17,2,27,30.50,69.50,0.06
22,233,E12000006,East,E07000077,Uttlesford,64735,51973,51972,80.28,51972,...,25619,26324,29,0,5,0,24,49.32,50.68,0.06
23,251,E12000006,East,E07000095,Broxbourne,68997,50915,50907,73.78,50907,...,17166,33706,35,0,14,0,21,33.74,66.26,0.07
24,252,E12000006,East,E07000096,Dacorum,108965,86313,86308,79.21,86307,...,42542,43702,63,4,24,0,35,49.33,50.67,0.07
25,254,E12000006,East,E07000098,Hertsmere,73295,56161,56159,76.62,56159,...,27593,28532,34,0,12,0,22,49.16,50.84,0.06
26,255,E12000006,East,E07000099,North Hertfordshire,99316,77748,77741,78.27,77737,...,42234,35438,65,0,29,1,35,54.37,45.63,0.08
27,258,E12000006,East,E07000102,Three Rivers,67380,52900,52898,78.50,52896,...,25751,27097,48,4,15,4,25,48.73,51.27,0.09
28,259,E12000006,East,E07000103,Watford,65060,46635,46635,71.68,46635,...,23167,23419,49,0,23,4,22,49.73,50.27,0.11
29,299,E12000006,East,E07000143,Breckland,98989,73593,73593,74.34,73593,...,26313,47235,45,0,10,0,35,35.78,64.22,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,379,E12000005,West Midlands,E07000238,Wychavon,94497,76428,76425,80.88,76425,...,32188,44201,36,0,15,0,21,42.14,57.86,0.05
353,380,E12000005,West Midlands,E07000239,Wyre Forest,77878,57668,57666,74.05,57666,...,21240,36392,34,0,6,0,28,36.85,63.15,0.06
354,58,E12000005,West Midlands,E08000025,Birmingham,707293,451422,451336,63.81,451316,...,223451,227251,614,0,311,17,286,49.58,50.42,0.14
355,59,E12000005,West Midlands,E08000026,Coventry,221389,153241,153234,69.21,153234,...,67967,85097,170,0,85,0,85,44.40,55.60,0.11
356,60,E12000005,West Midlands,E08000027,Dudley,244516,175351,175333,71.71,175333,...,56780,118446,107,0,41,2,64,32.40,67.60,0.06
357,61,E12000005,West Midlands,E08000028,Sandwell,221429,147428,147418,66.58,147418,...,49004,98250,164,0,90,2,72,33.28,66.72,0.11
358,62,E12000005,West Midlands,E08000029,Solihull,160425,122026,122017,76.06,122020,...,53466,68484,70,0,25,0,45,43.84,56.16,0.06
359,63,E12000005,West Midlands,E08000030,Walsall,194729,135690,135684,69.68,135685,...,43572,92007,106,0,59,3,44,32.14,67.86,0.08
360,64,E12000005,West Midlands,E08000031,Wolverhampton,174760,118038,118037,67.54,118037,...,44138,73798,101,0,45,7,49,37.43,62.57,0.09
361,83,E12000003,Yorkshire and The Humber,E06000010,"Kingston upon Hull, City of",180230,113439,113439,62.94,113436,...,36709,76646,81,0,23,4,54,32.38,67.62,0.07
362,84,E12000003,Yorkshire and The Humber,E06000011,East Riding of Yorkshire,266047,199056,199039,74.81,199036,...,78779,120136,121,0,36,3,82,39.60,60.40,0.06
363,85,E12000003,Yorkshire and The Humber,E06000012,North East Lincolnshire,116302,79016,79013,67.94,79011,...,23797,55185,29,1,4,1,23,30.13,69.87,0.04
364,86,E12000003,Yorkshire and The Humber,E06000013,North Lincolnshire,123611,88912,88907,71.92,88906,...,29947,58915,44,0,11,3,30,33.70,66.30,0.05
365,87,E12000003,Yorkshire and The Humber,E06000014,York,155157,109695,109691,70.69,109681,...,63617,45983,81,0,20,5,56,58.04,41.96,0.07
366,313,E12000003,Yorkshire and The Humber,E07000163,Craven,44320,35907,35907,81.02,35907,...,16930,18961,16,0,6,0,10,47.17,52.83,0.04
367,314,E12000003,Yorkshire and The Humber,E07000164,Hambleton,70133,55016,55016,78.45,55016,...,25480,29502,34,0,18,1,15,46.34,53.66,0.06
368,315,E12000003,Yorkshire and The Humber,E07000165,Harrogate,119987,94669,94665,78.89,94653,...,48211,46374,68,2,25,3,38,50.97,49.03,0.07
369,316,E12000003,Yorkshire and The Humber,E07000166,Richmondshire,36794,27652,27652,75.15,27652,...,11945,15691,16,0,6,0,10,43.22,56.78,0.06
370,317,E12000003,Yorkshire and The Humber,E07000167,Ryedale,41529,32069,32069,77.22,32069,...,14340,17710,19,0,5,2,12,44.74,55.26,0.06
371,318,E12000003,Yorkshire and The Humber,E07000168,Scarborough,82900,60540,60539,73.03,60539,...,22999,37512,28,0,6,0,22,38.01,61.99,0.05
372,319,E12000003,Yorkshire and The Humber,E07000169,Selby,65278,51641,51639,79.10,51636,...,21071,30532,33,0,7,2,24,40.83,59.17,0.06
373,49,E12000003,Yorkshire and The Humber,E08000016,Barnsley,175809,122982,122972,69.95,122972,...,38951,83958,63,0,17,1,45,31.69,68.31,0.05
374,50,E12000003,Yorkshire and The Humber,E08000017,Doncaster,217432,151254,151246,69.56,151246,...,46922,104260,64,0,19,0,45,31.04,68.96,0.04
375,51,E12000003,Yorkshire and The Humber,E08000018,Rotherham,197623,137478,137474,69.56,137470,...,44115,93272,83,0,30,4,49,32.11,67.89,0.06
376,52,E12000003,Yorkshire and The Humber,E08000019,Sheffield,396406,266954,266951,67.34,266951,...,130735,136018,198,0,76,6,116,49.01,50.99,0.07
377,65,E12000003,Yorkshire and The Humber,E08000032,Bradford,342817,228729,228729,66.72,228727,...,104575,123913,239,0,121,5,113,45.77,54.23,0.10
378,66,E12000003,Yorkshire and The Humber,E08000033,Calderdale,149195,106005,106008,71.05,106004,...,46950,58975,79,0,22,15,42,44.32,55.68,0.07
379,67,E12000003,Yorkshire and The Humber,E08000034,Kirklees,307081,217460,217449,70.80,217428,...,98485,118755,188,0,86,7,95,45.33,54.67,0.09
380,68,E12000003,Yorkshire and The Humber,E08000035,Leeds,543033,387730,387730,71.39,387677,...,194863,192474,340,39,116,8,177,50.31,49.69,0.09
381,69,E12000003,Yorkshire and The Humber,E08000036,Wakefield,246096,175261,175259,71.17,175155,...,58877,116165,113,0,46,4,63,33.64,66.36,0.06

In [54]:
#Calculate the difference from the UK average for the different regions: 

A =[]
for i in wealth['Disposable inc']:
     y = wealth.iloc[0][1]
     A.append(i - y)

wealth['Difference from UK average'] = A

wealth

                        Area  Disposable inc  Difference from UK average
0             United Kingdom           17965                           0
1                 North East           15189                       -2776
2                 North West           15776                       -2189
3   Yorkshire and The Humber           15498                       -2467
4              East Midlands           16217                       -1748
5              West Midlands           15611                       -2354
6            East of England           18897                         932
7                     London           23607                        5642
8                 South East           20434                        2469
9                 South West           18144                         179
10                     Wales           15302                       -2663
11                  Scotland           17095                        -870
12          Northern Ireland           14645                       -3320

In [ ]:
plt.plot(uk_clim['Date'],uk_clim['Temp Dec-Feb ACTUAL'], color = 'red')
plt.grid()
plt.ylabel("Temp.(C)")
plt.xlabel("Year")
plt.title("Average temperature Dec-Feb, UK")

In [ ]:
c =